.login-container {
  align-items: center;
  background-color: #333;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.header-login-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.form-login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 10vh;
  width: 50%;
}
