button {
  margin-top: 20px;
  width: 100px;
}

img {
  width: 100px;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(31, 31, 31);
}

.login-page {
  align-items: center;
  background-color: rgb(85, 85, 85);
  border: rgb(158, 158, 158);
  border-radius: 25%;
  border-style: dashed;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  width: 400px;
}

.login-component {
  display: flex;
  flex-direction: column;
  text-align: center;
}
