* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  width: 100%;
}

form {
  border: 3px solid #f1f1f1;
}

fieldset {
  border: 2px solid green;
  border-radius: 5px;
  box-shadow: 8px 8px 12px black;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-evenly;
  padding: 26px;
  width: 400px;
}

legend {
  font-size: 1.6em;
  text-align: center;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 20px;
  width: 100%;
}

button {
  background-color: #04aa6d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 14px;
  width: 100%;
}

button:hover {
  background-color: #07b676;
}

button:disabled {
  background-color: #323d39;
  cursor: grab;
}
