.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  margin: 30vh auto;  
  background-color: #2BCC9E;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
.form-div {
  z-index: 1;
}
.form-div, .button-div {
  transition: .5s ease-out;
}

form {
  border-radius: 2px;  
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

input, button {
  margin: 5px;
}

#email {
  margin-left: 26px;
}

input {
  margin-left: 22px;
  width: 200px;
}

button {
  margin-left: 150px;
}


/*SKELETON CSS*/

/*INPUT STYLING*/
input,
input[type="text"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #2BCC9E;
  outline: 0; }

/*BUTTON STYLING*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  margin-left: 100px;
  color: #FFF;
  background-color: #2BCC9E;
  border-color: #2BCC9E; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #3FB594;
  border-color: #3FB594; }

  /* feito com a ajuda do buddy Matheus Duarte */