* {
  border: 0;
  margin: 0;
  padding: 0;
}

.login-section {
  align-items: center;
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  min-height: 600px;
}

.login-section form {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  padding: 5px;
}

.login-section form input {
  border: 2px solid rgb(226, 226, 226);
  border-radius: 8px;
  text-align: center;
}

.login-section form button {
  background-color: rgb(0, 196, 124);
  border-radius: 8px;
  color: white;
  margin: 5px 0 5px 0;
}
