button {
  background: #eea949bb;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
}

button:hover {
  background: #eea849;
}

button:active {
  transform: scale(0.99);
}

button:disabled {
  background: #f0cc9abb;
}

.btn-control {
  background: none;
  color: #393939;
  font-size: 15px;
  height: 40px;
  margin: 5px 0;
  padding: 0;
  transition: 0.3s;
  width: 40px;
}

.btn-control:hover {
  background: #30303027;
  color: #191919;
}

.btn-edit , .btn-add {
  border: none;
  margin: 0;
  padding: 5px;
  width: 12%;
}

.btn-add {
  background-color: #3c5128;
  color: #ddd;
}

.btn-add:hover {
  background-color: #3f7a3d;
  color: white;
}

.btn-edit {
  background-color: #be6317;
  color: #ddd;
}

.btn-edit:hover {
  background-color: #e0761f;
  color: white;
}
