.header-container {
  align-items: center;
  background-color: rgb(133, 188, 228);
  color: rgb(0, 51, 102);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 180px;
}

.valor {
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
  width: 500px;
}

.preco {
  display: flex;
}


