#header-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: rgb(0, 51, 102);
  background-color: rgb(133, 188, 228);
}

#logo {
  width: 180px;
}

#valor {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-right: 100px;
}

#preco {
  display: flex;
}
