.App {
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.Login-logo {
  height: 300px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
