.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.App-header label {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.button {
  align-items: center;
  background-color: seagreen;
  border-radius: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 5% 20%;
  padding: 10px;
}

.img {
  display: flex;
  background-image: url('https://www.pngmart.com/files/8/Wallet-PNG-Transparent-Images.png');
  background-position: center;
  background-size: cover;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: auto;
  position: relative;
  text-align: center;
  width: 300px;
}
