/* Made with love by Mutiullah Samim*/
/* https://bootsnipp.com/snippets/vl4R7 */

@import url('https://fonts.googleapis.com/css?family=Numans');

html {
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: inherit;
  height: 100%;
  font-family: 'Numans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 12px;
}

.divWallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
.container h1 {
  margin-bottom: 70px;
  color: #ffc312;
}

.card {
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header {
  height: 80px;
  width: 100%;
  color: White;
  font-size: 25px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 70%;
  height: 30px;
  border: none;
  margin: 10px 0;
  border-radius: 3px;
  font-family: 'Numans', sans-serif;
  padding: 0 10px;
}

.login_btn {
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  font-family: 'Numans', sans-serif;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: #ffc412cc;
}

.login_btn:disabled {
  background-color: rgba(128, 128, 128, 0.541);
}

.formExpense {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.623);
  padding: 10px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.formExpense label,
.formExpense input,
.formExpense select,
.formExpense button {
  margin: 10px 5px;
  height: 30px;
  border: none;
  border-radius: 3px;
  font-family: 'Numans', sans-serif;
  font-size: 10px;
  padding: 0 5px;
}

.formExpense label {
  font-size: 12px;
}

.despesa_btn,
.evidence {
  background-color: #ffc312;
  color: black;
  padding: 3px 5px;
  border-radius: 5px;
}

.inputValueForm {
  width: 40px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topo h1 {
  font-size: 34px;
  color: #ffc312;
}

.infoTopo {
  text-align: right;
}

.tableExpenses {
  display: flex;
  justify-content: center;
}

.subtitleColumnDesc {
  border-radius: 5px 0 0 0;
}

.subtitleColumnEdit {
  border-radius: 0 5px 0 0;
}

.subtitleColumnDesc,
.subtitleColumnTag,
.subtitleColumnMeth,
.subtitleColumnValu,
.subtitleColumnCoin,
.subtitleColumnCamb,
.subtitleColumnEdit {
  background-color: white;
  color: black;
  padding: 10px;
}

.subtitleColumnDesc {
  width: 150px;
}

.subtitleColumnTag,
.subtitleColumnMeth,
.subtitleColumnEdit {
  width: 110px;
}
.subtitleColumnValu,
.subtitleColumnCoin,
.subtitleColumnCamb {
  width: 80px;
}

.expenseRow {
  background-color: white;
  color: black;
}

.expenseDesc,
.expenseTag,
.expenseMeth,
.expenseValu,
.expenseExch,
.expenseAsk,
.expenseConvValue,
.expenseReal,
.buttonsExpense,
.expenseButtons {
  word-break: break-all;
  word-wrap: inherit;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

.expenseDesc {
  text-align: left;
  max-width: 150px;
}

.expenseMeth {
  width: 100px;
}

.deleteButton,
.editButton {
  border-radius: 5px;
  border: none;
  color: white;
  margin: 0 5px;
}

.deleteButton {
  background-color: rgba(255, 0, 0, 0.698);
}

.editButton {
  background-color: rgba(0, 89, 255, 0.698);
}