.div-form-login {
  display: flex;
  background-color: seagreen;
  margin-left: 45%;
  margin-top: 200px;
  border: 1px solid black;
  margin-right: 45%;
  height: 115px;
  width: 200px;
}

.form-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.label-email {
  text-align: center;
}

.email-input {
  text-align: center;
}

.label-senha {
  margin-top: 2px;
  text-align: center;
}

.input-senha {
  text-align: center;
}

.btn-login {
  align-content: center;
  margin-top: 4px;
}
