.expenses-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.expenses-table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  font-size: 0.9em;
  margin: 25px 0;
  min-width: 400px;
}

.expenses-table thead tr {
  background-color: #07b676;
  color: white;
  text-align: center;
}

.expenses-table th , .expenses-table td {
  padding: 12px 15px;
}

.expenses-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.expenses-table tbody tr:nth-last-child( even ) {
  border-bottom: 2px solid #07b676;
}

.expenses-table tbody tr:nth-of-type( even ) {
  background-color: #f3f3f3;
}

.active {
  color: #07b676;
  font-weight: 700;
}
